/* here you can put your own css to customize and override the theme */
.favicon {
    color:blue;
}
.favicon:hover{
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    cursor: pointer;
}

.searchRight div{
    float:right;
}

.tenpxpad {
    padding: 10px 10px 10px 10px;
   }

.btn-div {
    float: right;
}

.glyphicon-ok {
    color: green;
}

.glyphicon-minus {
    color: red;
}

.heading {
    padding-top: 10px;
}

tr.hover {
    cursor: pointer;
}



